{% extends "layout.html.twig" %}

{% block title %}Sorties - {{ parent() }}{% endblock %}
{% block main %}

    <div class="justify-content-center">
        <a href="{{ path ('app_register') }}" class="btn btn-success btn-icon-split m-1">
                            <span class="icon text-white-50">
                                <i class="fas fa-plus-circle"></i>
                            </span>
            <span class="text">Nouvel utilisateur</span>
        </a>
    </div>
<div class="card shadow mb-4 mt-5">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Utilisateurs</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Pseudonyme</th>
                    <th>Email</th>
                    <th>Site</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.firstName }} {{ user.lastName }}</td>
                        <td>{{ user.nickname }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.site.name }}</td>
                        <td class="text-center">
                            {% if user.active == true %}
                            <a href="{{ path('app_admin_user_disable', { id: user.id }) }}"><i class="fas fa-user-lock"></i></a>
                            {% endif %}
                            <a href="{{ path('app_admin_user_delete', { id: user.id }) }}"><i class="fas fa-user-times"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
    {% include "pagination.html.twig" %}
{% endblock %}

