{% extends 'base.html.twig' %}

{% block title %}Liste des sorties{% endblock %}
{% block body %}
    <div>
        Détails de la sortie
        Intitulé de la sortie : {{ excursion.name }}
        Description : {{ excursion.description }}
        Site organisateur : {{ site.name }}
        Ville où se déroule l'évènement : {{ city.name }}
        Rue : {{ place.adress }}
        Code Postale : {{ city.postCode }}
        Date et heure de la sortie : {{ excursion.date|format_datetime() }}
        Date limite d'inscription : {{ excursion.limitDate|format_datetime() }}
        {#        Durée : {{ excursion.duration }}#}
        {#        Participants : {{ excursion.nb_participants }}#}
        Nombre de places maximum : {{ excursion.participantLimit }}
        Etat de la publication : {{ excursion.state == 1 ?"Ouvert":"Fermé" }}
    </div>
    <div>
        <a href="{{ path ('app_publish_excursions', { id: excursion.id })}}">Publier cette annonce</a>
    </div>


{% endblock %}
