{% extends "layout.html.twig" %}

{% block title %}Détail de sortie - {{ parent() }}{% endblock %}
{% block main %}

    <style>
        a {
            margin:10px 10px 10px 10px;
        }
    </style>
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Détails de la sortie</h1>
    </div>

<div class="card shadow mb-4 mt-5">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Détails de la sortie</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <tbody>
                <tr>
                    <td>Nom de la sortie</td>
                    <td>{{ excursion.name }}</td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td>{{ excursion.description }}</td>
                </tr>
                <tr>
                    <td>Date et heure de la sortie</td>
                    <td>{{ excursion.date|format_datetime() }}</td>
                </tr>
                <tr>
                    <td>Date limite d'inscription</td>
                    <td>{{ excursion.limitDate|format_datetime() }}</td>
                </tr>
                <tr>
                    <td>Nombre de places maximum</td>
                    <td>{{ excursion.participantLimit }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-6">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <tbody>
                <tr>
                    <td>Site organisateur</td>
                    <td>{{ site.name }}</td>
                </tr>
                <tr>
                    <td>Ville où se déroule l'évènement</td>
                    <td>{{ city.name }}</td>
                </tr>
                <tr>
                    <td>Rue</td>
                    <td>{{ place.address }}</td>
                </tr>
                <tr>
                    <td>Code Postale</td>
                    <td>{{ city.postCode }}</td>
                </tr>
                <tr>
                    <td>Etat de la publication</td>
                    <td>{{ excursion.state }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
    <div class="d-flex flex-row justify-content-center">
        {% if is_owner %}
            {% if excursion.state is same as(0) %}
                <a href="{{ path ('app_publish_excursions', { id: excursion.id })}}" class="btn btn-success btn-icon-split" >
                    <span class="icon text-white-50">
                        <i class="fas fa-check"></i>
                    </span>
                    <span class="text">Publier</span>
                </a>
            {% endif %}
        {% endif %}
        <a href="javascript:history.go(-1)" class="btn btn-info btn-icon-split">
            <span class="icon text-white-50">
                <i class="fas fa-chevron-circle-left"></i>
            </span>
            <span class="text">Retour</span>
        </a>
    </div>


{% endblock %}
