{% extends "layout.html.twig" %}

{% block title %}Détail de sortie - {{ parent() }}{% endblock %}
{% block main %}

    <div class="offset-lg-3 col-lg-6 col-md-12 offset-md-0">
        <div class="card shadow mb-4 mt-5">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">{{ excursion.name }} {% include 'inc/_status.html.twig' with {'status': excursion.state} %}</h6>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-2 text-center">
                        <div data-toggle="tooltip" title="Description"><i class="fas fa-file-alt"></i></div>
                        <div data-toggle="tooltip" title="Date/heure sortie"><i class="fas fa-calendar-alt"></i></div>
                        <div data-toggle="tooltip" title="Date limite inscription"><i class="fas fa-hourglass-half"></i>
                        </div>
                        <div data-toggle="tooltip" title="Nombre max. places"><i class="fas fa-users"></i></div>
                        <div data-toggle="tooltip" title="Site organisateur"><i class="fas fa-city"></i></div>
                        <div data-toggle="tooltip" title="Adresse"><i class="fas fa-map-marker-alt"></i></div>
                    </div>
                    <div class="col-10">
                        <div>{{ excursion.description }}</div>
                        <div>{{ excursion.date|format_datetime('short', 'short', locale='fr') }}</div>
                        <div>{{ excursion.limitDate|format_datetime('short', 'short', locale='fr') }}</div>
                        <div>{{ nb_participants }} / {{ excursion.participantLimit }}
                            inscrit{% if nb_participants > 1 %}s{% endif %}</div>
                        <div>{{ site.name }}</div>
                        <div>{{ place.address }}, {{ city.postCode }}, {{ city.name }}</div>
                    </div>
                </div>
            </div>
            <div class="card-footer d-flex flex-row-reverse">
                {% if is_owner %}
                    {% if excursion.state is same as(0) %}
                        <a href="{{ path ('excursion_publish', { id: excursion.id }) }}"
                           class="btn btn-success btn-icon-split m-1">
                                <span class="icon text-white-50">
                                    <i class="fas fa-check"></i>
                                </span>
                            <span class="text">Publier</span>
                        </a>
                    {% endif %}
                    {% if excursion.state < 2 %}
                        <a href="{{ path ('excursion_cancel', { id: excursion.id }) }}"
                           class="btn btn-danger btn-icon-split m-1">
                            <span class="icon text-white-50">
                                <i class="fas fa-check"></i>
                            </span>
                            <span class="text">Annuler</span>
                        </a>
                    {% endif %}
                {% endif %}
                <a href="javascript:history.go(-1)" class="btn btn-info btn-icon-split m-1">
                        <span class="icon text-white-50">
                            <i class="fas fa-chevron-circle-left"></i>
                        </span>
                    <span class="text">Retour</span>
                </a>
            </div>
        </div>
        <div class="card shadow mb-4">
            <!-- Card Header - Accordion -->
            <a href="#collapseCardParticipantsList" class="d-block card-header py-3" data-toggle="collapse"
               role="button">
                <h6 class="m-0 font-weight-bold text-primary">Liste des participants</h6>
            </a>
            <!-- Card Content - Collapse -->
            <div class="collapse show" id="collapseCardParticipantsList">
                <div class="card-body">
                    {% for participant in participants %}
                        <div>
                            <a href="{{ path ('user_foreign_profile', { username: participant.nickname }) }}">
                                {{ participant.firstName }} {{ participant.lastName }}
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
