
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ path("app_excursions") }}">
        <div class="sidebar-brand-icon">
          <i class="fas fa-comments"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Sortir<sup>.com</sup></div>
      </a>
      <hr class="sidebar-divider my-0">
      <li class="nav-item active">
        <a class="nav-link" href="{{ path("app_home") }}">
          <i class="fas fa-fw fa-home"></i>
          <span>Accueil</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Menu
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      {% if app.user %}
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-fw fa-calendar-alt"></i>
          <span>Sorties</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Pages:</h6>
            <a class="collapse-item" href="{{ path("app_excursions") }}">Liste</a>
            <a class="collapse-item" href="{{ path("app_excursions") }}">Mes sorties</a>
            <a class="collapse-item" href="{{ path("app_create_excursion") }}">Ajouter</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
          <i class="fas fa-city"></i>
          <span>Ville</span>
        </a>
        <div id="collapseThree" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Pages:</h6>
            <a class="collapse-item" href="{{ path("app_create_city") }}">Ajouter</a>
          </div>
        </div>

      </li>
      {% endif %}
      {% if is_granted('ROLE_ADMIN') %}
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
          <i class="fas fa-fw fa-user-cog"></i>
          <span>Administration</span>
        </a>
          <div id="collapseFour" class="collapse" aria-labelledby="headingThree" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header">Utilisateurs:</h6>
              <a class="collapse-item" href="{{ path('app_admin_users', { page: 1 }) }}">Liste</a>
              <a class="collapse-item" href="{{ path("app_register") }}">Ajouter</a>
              <a class="collapse-item" href="{{ path("app_admin_import") }}">Importer</a>
            </div>
          </div>
      </li>
      {% endif %}

      <!-- Nav Item - Charts -->
      <li class="nav-item">
        <a class="nav-link" href="{{ path("app_aboutus") }}">
          <i class="fas fa-fw fa-address-card"></i>
          <span>A propos</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>