{% extends 'base.html.twig' %}

{% block title %}{{ profile.nickname }}{% endblock %}

{% block body %}
    <h1>{{ profile.nickname }}</h1>
        <table>
            <tr>
                <td>Prénom</td>
                <td>{{ profile.firstName }}</td>
            </tr>
            <tr>
                <td>Nom</td>
                <td>{{ profile.lastName }}</td>
            </tr>
            <tr>
                <td>Téléphone</td>
                <td>{{ profile.phone }}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{ profile.email }}</td>
            </tr>
            <tr>
                <td>Ville de rattachement</td>
                <td>{{ profile.site.name }}</td>
            </tr>
        </table>

    <a href="{{ path('app_excursions') }}" class="btn btn-lg btn-primary">Retour</a>
{% endblock %}
