<a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fas fa-sign-in-alt fa-fw"></i>
    <span class="mx-2 d-none d-lg-inline text-gray-600 small">
        Connexion</span>
</a>
{# Dropdown #}
<div class="dropdown-menu dropdown-menu-right login-dropdown shadow animated--grow-in border-left-primary" aria-labelledby="userDropdown">
    {{ form_start(formLogin, {'attr': {'class': 'form-horizontal', 'action': path("login_login")}}) }}
    <p class="dropdown-item">
        <div class="form-group row no-gutters px-2">
            <label for="{{ formLogin.email.vars.id }}" class="col-form-label col-sm-2">
                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
            </label>
            {{ form_widget(formLogin.email) }}
            {{ form_errors(formLogin.email) }}
        </div>
        <div class="form-group row no-gutters px-2">
            <label for="{{ formLogin.password.vars.id }}" class="col-form-label col-sm-2">
                <i class="fas fa-key fa-sm fa-fw mr-2 text-gray-400"></i>
            </label>
            {{ form_widget(formLogin.password) }}
            {{ form_errors(formLogin.password) }}
        </div>
    </p>
    <div class="dropdown-divider"></div>
    <p class="dropdown-item text-center">
        <button type="submit" class="btn btn-primary btn-icon-split btn-sm">
            <span class="icon text-white-50">
                <i class="fas fa-arrow-right"></i>
            </span>
            <span class="text">Connexion</span>
        </button>
    </p>
    {{ form_end(formLogin) }}
    <div class="dropdown-divider"></div>
    <p class="dropdown-item text-center">
        <span class="text-secondary">Pas encore de compte ?</span><br>
        <a href="{{path("user_add")}}" class="btn btn-success btn-icon-split btn-sm">
            <span class="icon text-white-50">
                <i class="fas fa-user-plus"></i>
            </span>
            <span class="text">Inscription</span>
        </a>
    </p>
</div>
