{% extends "layout.html.twig" %}

{% block title %}Profile - {{ parent() }}{% endblock %}
{% block main %}
    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    <h1>Profile</h1>

    <img class="fit-picture" width="100px" src="{{ asset('uploads/'~(app.user.avatarPath == null? 'default.png': app.user.avatarPath)) }}">
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.firstName) }}
        {{ form_row(registrationForm.lastName) }}
        {{ form_row(registrationForm.nickname) }}
        {{ app.user.email }}
        {{ form_row(registrationForm.phone) }}
        {{ form_row(registrationForm.avatar) }}
        {{ form_row(registrationForm.oldPassword) }}
        {{ form_row(registrationForm.newPassword) }}

        <button class="btn btn-lg btn-primary">Update</button>
    {{ form_end(registrationForm) }}
{% endblock %}
