{% extends "layout.html.twig" %}

{% block title %}Récupération - {{ parent() }}{% endblock %}
{% block main %}
<div class="offset-lg-3 col-lg-6 col-md-12 offset-md-0">
    <div class="card shadow mb-4 mt-5">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Mot de passe oublié</h6>
        </div>
        <div class="card-body">
            {% if token %}
            <a href="{{ token }}">{{ token }}</a>
            {% else %}
            {{ form_start(recoverForm) }}
                <div>{{ form_row(recoverForm.email) }}</div>
        </div>
        <div class="card-footer d-flex flex-row-reverse">
            <button type="submit" class="btn btn-success btn-icon-split">
                                <span class="icon text-white-50">
                                    <i class="fas fa-check"></i>
                                </span>
                <span class="text">Envoyer</span>
            </button>
        </div>
        {{ form_end(recoverForm) }}
        {% endif %}
    </div>
</div>
{% endblock %}