{% extends "layout.html.twig" %}

{% block title %}Profile - {{ parent() }}{% endblock %}
{% block main %}
    <div class="offset-lg-3 col-lg-6 col-md-12 offset-md-0">
        <div class="card shadow mb-4 mt-5">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Réinitialiser mot de passe</h6>
            </div>
            {{ form_start(resetForm) }}
            <div class="card-body">
                <div class="row pt-2">
                    <div class="col-2 text-center pt-2"><i class="fas fa-key"></i></div>
                    <div class="col-5">{{ form_row(resetForm.newPassword.first) }}</div>
                    <div class="col-5">{{ form_row(resetForm.newPassword.second) }}</div>
                </div>
            </div>
            <div class="card-footer d-flex flex-row-reverse">
                <button type="submit" class="btn btn-success btn-icon-split m-1">
                        <span class="icon text-white-50">
                            <i class="fas fa-check"></i>
                        </span>
                    <span class="text">Valider</span>
                </button>
            </div>
        </div>
        {{ form_end(resetForm) }}
    </div>
{% endblock %}
